{% extends 'base.twig' %}

{% block information %}
     <h1>KONFERENČNÍ SYSTÉM</h1>
      <p>Vítejte na stránce českého konferenčního systému, který je tu již s vámi 10 let.</p>
{% endblock %} 
 

{% block content %}
    <div class="container">
        <div class="row">
            {% if articles is empty %}
                <p>Žádné publikované příspěvky.</p>
            {% else %}
                {% for value in articles %}
                    <div class="col-md-4">
                        <h2>{{ value.nazev }}</h2>
                        <p>{{ value.ukazka }} </p>
                        <p><strong>Autor: </strong>{{ value.autor }}</p>
                        <p><a class="btn btn-default" href="{{ makeURL("home","article",value.id_prispevky) }}" role="button">Více &raquo;</a></p>
                    </div>

                {% endfor %}
            {% endif %}


  </div>
</div>
{% endblock %} 