{% extends 'base.twig' %}

{% block information %}
    <h2>Vytvoření nového článku</h2>
    <p class="info_up">Zde můžete jednoduše vytvořit nový článek.</p>
{% endblock %}


{% block content %}
    <div class="container">
        <form action="{{ makeURL("user","createArticle") }}" method="POST" enctype="multipart/form-data">
            <div class="input-group col-xs-6">
                <span class="input-group-addon">Název článku</span>
                <input type="text" class="form-control" name="article[nazev]" placeholder="Název článku" required>
            </div>
            <div class="input-group col-xs-8 form_up">
                <span class="input-group-addon">Samotný text</span>
                <textarea class="form-control" rows="13" name="article[text]" required></textarea>
            </div>
            <div class="input-group col-xs-6 form_up">
                <strong>Načíst PDF soubor (dobrovolné):</strong>
                <input type="file" placeholder="PDF soubor" name="file">
            </div>
            <div class="form_up">
                <input type="submit" class="btn btn-success" value="Přidat článek" id="login-btn">
            </div>

        </form>
    </div>
{% endblock %}