#web{
    font-weight: bolder;
    font-size: 110%;
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
}
#web:hover{
    font-weight: bolder;
    font-size: 110%;
}
.nav_text{
    font-size: 105% !important;
    color:gray;
}
#nav_hodnost{
    padding-left: 15px;
}
#nav_button{
    margin-left: 15px;
}
#registrace{
    padding-right:10px;
    text-decoration: none;
}
#registrace:hover{
    padding-right:10px;
    color: white;
    text-decoration: none;
}
.prihlaseni {
    padding-left: 45px !important;
}
@media screen and (max-width: 750px) {
    #small_btn{
        margin-top: 5px !important;
    }
}
.btn_vice{
    background-color: #5CB85C !important;
    color: white !important;
}
.info_up{
    color: #5CB85C;
}
.form_up{
    padding-top: 5px;
}
.form_inline_up{
    padding-left:5px;
}

